In [1]:
# load packages
import pandas as pd

In [28]:
# load eid_data
pob_data = pd.read_csv('../where_do_kin_live/10km_grid_pob_centroids.csv')
print(len(pob_data))
pob_data.head(3)

442035

,eid,center,DOB,POB_north,POB_east,NUTS_ID,NUTS_NAME,grid_id,X,Y
0,1136349,11004,1947,801500,68500,UKM64,Eilean Siar (Western Isles),774,64917.76409,803641.428192
1,1071275,11004,1952,798500,66500,UKM64,Eilean Siar (Western Isles),775,64917.76409,793641.428192
2,4778319,11005,1946,798500,66500,UKM64,Eilean Siar (Western Isles),775,64917.76409,793641.428192

In [29]:
pob_data[pob_data.duplicated(subset=['eid'], keep = False)]

Empty DataFrame
Columns: [eid, center, DOB, POB_north, POB_east, NUTS_ID, NUTS_NAME, grid_id, X, Y]
Index: []

# add place of residence (POR) data to eid_data and save a new version here

In [30]:
# load place of residence (POR) data
por_data = pd.read_csv('../por_healthdata/por_locations.csv')
print(len(por_data))
por_data.head(2)

502536

       eid  22702-0.0  22704-0.0
0  3609487   330000.0   407000.0
1  1194904   378000.0   200000.0

In [31]:
# rename columns in por_data
por_data.rename(index=str, columns={"22702-0.0": "POR_east", "22704-0.0": "POR_north"},inplace=True)
por_data.head(2)

       eid  POR_east  POR_north
0  3609487  330000.0   407000.0
1  1194904  378000.0   200000.0

In [32]:
pob_data.head(2)

,eid,center,DOB,POB_north,POB_east,NUTS_ID,NUTS_NAME,grid_id,X,Y
0,1136349,11004,1947,801500,68500,UKM64,Eilean Siar (Western Isles),774,64917.76409,803641.428192
1,1071275,11004,1952,798500,66500,UKM64,Eilean Siar (Western Isles),775,64917.76409,793641.428192

In [33]:
# rename columns in pob_data
pob_data.rename(index=str, columns={"NUTS_ID": "POB_NUTSID", "grid_id": "POB_gridID",
                                   "X": "POB_gridX", "Y": "POB_gridY" },inplace=True)
pob_data.head(2)

,eid,center,DOB,POB_north,POB_east,POB_NUTSID,NUTS_NAME,POB_gridID,POB_gridX,POB_gridY
0,1136349,11004,1947,801500,68500,UKM64,Eilean Siar (Western Isles),774,64917.76409,803641.428192
1,1071275,11004,1952,798500,66500,UKM64,Eilean Siar (Western Isles),775,64917.76409,793641.428192

In [39]:
pob_data[pob_data.duplicated(subset=['eid'], keep = False)]

Empty DataFrame
Columns: [eid, center, DOB, POB_north, POB_east, POB_NUTSID, NUTS_NAME, POB_gridID, POB_gridX, POB_gridY]
Index: []

In [35]:
# merge pob_data and por_data into eid_data
eid_data = pob_data.merge(por_data, on = 'eid')

In [38]:
print(len(pob_data))
print(len(por_data))
print(len(eid_data))
eid_data.head(2)

442035
502536
441943

,eid,center,DOB,POB_north,POB_east,POB_NUTSID,NUTS_NAME,POB_gridID,POB_gridX,POB_gridY,POR_east,POR_north
0,1136349,11004,1947,801500,68500,UKM64,Eilean Siar (Western Isles),774,64917.76409,803641.428192,252000.0,663000.0
1,1071275,11004,1952,798500,66500,UKM64,Eilean Siar (Western Isles),775,64917.76409,793641.428192,211000.0,665000.0

In [40]:
# drop NUTS_NAME
# df.drop(columns=['B', 'C'])
eid_data.drop(columns = 'NUTS_NAME', inplace = True)
eid_data.head(5)

,eid,center,DOB,POB_north,POB_east,POB_NUTSID,POB_gridID,POB_gridX,POB_gridY,POR_east,POR_north
0,1136349,11004,1947,801500,68500,UKM64,774,64917.76409,803641.428192,252000.0,663000.0
1,1071275,11004,1952,798500,66500,UKM64,775,64917.76409,793641.428192,211000.0,665000.0
2,4778319,11005,1946,798500,66500,UKM64,775,64917.76409,793641.428192,323000.0,669000.0
3,2797312,11011,1949,842500,79500,UKM64,892,74917.76409,843641.428192,358000.0,171000.0
4,3735126,11002,1948,842500,79500,UKM64,892,74917.76409,843641.428192,459000.0,205000.0

In [41]:
print(len(eid_data))
eid_data[eid_data.duplicated(subset=['eid'],keep=False)]

441943

Empty DataFrame
Columns: [eid, center, DOB, POB_north, POB_east, POB_NUTSID, POB_gridID, POB_gridX, POB_gridY, POR_east, POR_north]
Index: []

In [14]:
# save eid_data here
# eid_data.to_csv('eid_data.csv',index=False)`

In [17]:
# off to QGIS to add POR_NUTSID and do grid assignments ... grid might be a bit rough!

NUTS3 was a bit of a challenge because 1566 coastal/river points had no NUTS3 assignment.  
With QGIS and buffer, was able to get them all.

In [20]:
nuts3_por_1stPass = pd.read_csv('../por_healthdata/nuts3_por_1st_pass.csv')

In [42]:
print(len(nuts3_por_1stPass))
nuts3_por_1stPass.head(2)

440377

       eid NUTS_ID                        NUTS_NAME
0  4984208   UKC11  Hartlepool and Stockton-on-Tees
1  1104285   UKC11  Hartlepool and Stockton-on-Tees

In [22]:
nuts3_por_1stPass[nuts3_por_1stPass.duplicated(subset=['eid'],keep=False)]

Empty DataFrame
Columns: [eid, NUTS_ID, NUTS_NAME]
Index: []

In [25]:
noData = nuts3_por_1stPass[nuts3_por_1stPass.isnull().any(axis=1)].index.tolist()
dropped = nuts3_por_1stPass.drop(nuts3_por_1stPass.index[noData])
print('nuts3_por_1stPass',len(nuts3_por_1stPass))
print('number with null data',len(noData))
print('null data removed',len(dropped))

0
nuts3_por_1stPass 440377
number with null data 0
null data removed 440377

In [9]:
# save new version of nuts3_por_1stPass with null data removed
!mv nuts3_por_1st_pass.csv nuts3_por_1st_pass_withNullData.csv
dropped.to_csv('nuts3_por_1st_pass.csv',index=False)

In [44]:
# get the points that still need nuts3 ids
old = pd.read_csv('../por_healthdata/nuts3_por_1st_pass_withNullData.csv')

In [52]:
noData = old[old.isnull().any(axis=1)]
print(len(noData))
print(len(nuts3_por_1stPass))
print(len(noData) + len(nuts3_por_1stPass))
print(len(eid_data))

1566
440377
441943
441943

In [46]:
noData.head(2)

            eid NUTS_ID NUTS_NAME
440377  1071275     NaN       NaN
440378  3697624     NaN       NaN

In [8]:
eid_data = pd.read_csv('eid_data.csv')

In [9]:
p = noData.merge(eid_data, on='eid')

In [12]:
p[['eid','POR_east','POR_north']].to_csv('needNuts3.csv',index=False)

In [13]:
noData[noData['eid']==3348493]

            eid NUTS_ID NUTS_NAME
440960  3348493     NaN       NaN

In [50]:
# OK i have them all done ... merge them in terminal via cat
# nuts3_por_1st_pass.csv + nuts3_por_2nd_pass.csv
# PROBLEM!!!!!! nuts3_por_2nd_pass.csv has duplicate data. need to fix and save a new version of eid_data
# I did this in eid_list_for_pobi
all_por = pd.read_csv('../por_healthdata/nuts3_por_all.csv')

In [55]:
# PROBLEM!!!! There are duplicates!!!!
all_por[all_por.duplicated(subset=['eid'],keep=False)].sort_values(by='eid')

            eid NUTS_ID                                          NUTS_NAME
441674  1000708   UKI23                 Outer London - West and North West
441220  1000708   UKI11                                Inner London - West
441310  1023392   UKI12                                Inner London - East
441002  1023392   UKI11                                Inner London - West
442353  1027080   UKM35     Inverclyde, East Renfrewshire and Renfrewshire
442317  1027080   UKM34                                       Glasgow City
441515  1032029   UKI23                 Outer London - West and North West
440943  1032029   UKI11                                Inner London - West
441161  1034229   UKI11                                Inner London - West
441652  1034229   UKI23                 Outer London - West and North West
441147  1035684   UKI11                                Inner London - West
441387  1035684   UKI12                                Inner London - East
441106  1036963   UKI11                                Inner London - West
441371  1036963   UKI12                                Inner London - East
440578  1041612   UKC22                                           Tyneside
440606  1041612   UKC23                                         Sunderland
440898  1061795   UKE22                                 North Yorkshire CC
440408  1061795   UKC12                                     South Teesside
441010  1066724   UKI11                                Inner London - West
441550  1066724   UKI23                 Outer London - West and North West
441319  1081120   UKI12                                Inner London - East
441015  1081120   UKI11                                Inner London - West
441194  1097234   UKI11                                Inner London - West
441664  1097234   UKI23                 Outer London - West and North West
441572  1101395   UKI23                 Outer London - West and North West
441048  1101395   UKI11                                Inner London - West
441605  1112934   UKI23                 Outer London - West and North West
441098  1112934   UKI11                                Inner London - West
441164  1116018   UKI11                                Inner London - West
441653  1116018   UKI23                 Outer London - West and North West
...         ...     ...                                                ...
440944  5917392   UKI11                                Inner London - West
441190  5930410   UKI11                                Inner London - West
441432  5930410   UKI12                                Inner London - East
441347  5937358   UKI12                                Inner London - East
441068  5937358   UKI11                                Inner London - West
441526  5945478   UKI23                 Outer London - West and North West
440964  5945478   UKI11                                Inner London - West
441269  5950880   UKI12                                Inner London - East
440950  5950880   UKI11                                Inner London - West
441649  5956567   UKI23                 Outer London - West and North West
441156  5956567   UKI11                                Inner London - West
441173  5959320   UKI11                                Inner London - West
441658  5959320   UKI23                 Outer London - West and North West
440649  5976412   UKD72                                          Liverpool
440764  5976412   UKD74                                             Wirral
441131  5979049   UKI11                                Inner London - West
441632  5979049   UKI23                 Outer London - West and North West
441843  5988106   UKK12  Bath and North East Somerset, North Somerset a...
441737  5988106   UKK11                                   Bristol, City of
441574  5991821   UKI23                 Outer London - West and North West
441050  5991821   UKI11                                Inner London - West
441132  5997733   UKI11                                Inner London - West
441633  5997733   UKI23                 Outer London - West and North West
442321  6008158   UKM34                                       Glasgow City
442357  6008158   UKM35     Inverclyde, East Renfrewshire and Renfrewshire
441145  6008249   UKI11                                Inner London - West
441641  6008249   UKI23                 Outer London - West and North West
442336  6024333   UKM35     Inverclyde, East Renfrewshire and Renfrewshire
442292  6024333   UKM31  East Dunbartonshire, West Dunbartonshire and H...
442300  6024333   UKM34                                       Glasgow City

[923 rows x 3 columns]

In [56]:
print(len(all_por))
all_por.head(3)

442400

       eid NUTS_ID                        NUTS_NAME
0  4984208   UKC11  Hartlepool and Stockton-on-Tees
1  1104285   UKC11  Hartlepool and Stockton-on-Tees
2  2998376   UKC11  Hartlepool and Stockton-on-Tees

In [57]:
# rename columns in all_por
all_por.rename(index=str, columns={"NUTS_ID": "POR_NUTSID"},inplace=True)
all_por.head(2)

       eid POR_NUTSID                        NUTS_NAME
0  4984208      UKC11  Hartlepool and Stockton-on-Tees
1  1104285      UKC11  Hartlepool and Stockton-on-Tees

In [58]:
eid_data.head(2)

,eid,center,DOB,POB_north,POB_east,POB_NUTSID,POB_gridID,POB_gridX,POB_gridY,POR_east,POR_north
0,1136349,11004,1947,801500,68500,UKM64,774,64917.76409,803641.428192,252000.0,663000.0
1,1071275,11004,1952,798500,66500,UKM64,775,64917.76409,793641.428192,211000.0,665000.0

In [16]:
# merge all_por with eid_data
got_them_all = eid_data.merge(all_por[['eid','POR_NUTSID']],on='eid')

In [17]:
got_them_all.head(2)

,eid,center,DOB,POB_north,POB_east,POB_NUTSID,POB_gridID,POB_gridX,POB_gridY,POR_east,POR_north,POR_NUTSID
0,1136349,11004,1947,801500,68500,UKM64,774,64917.76409,803641.428192,252000.0,663000.0,UKM34
1,1071275,11004,1952,798500,66500,UKM64,775,64917.76409,793641.428192,211000.0,665000.0,UKM63

In [18]:
got_them_all[got_them_all.duplicated(subset=['eid'],keep=False)]

,eid,center,DOB,POB_north,POB_east,POB_NUTSID,POB_gridID,POB_gridX,POB_gridY,POR_east,POR_north,POR_NUTSID
1112,5542874,11018,1957,32500,180500,UKK30,2315,184917.76409,33641.428192,524000.0,176000.0,UKI11
1113,5542874,11018,1957,32500,180500,UKK30,2315,184917.76409,33641.428192,524000.0,176000.0,UKI23
1272,3690842,11012,1947,215500,195500,UKL14,2419,194917.76409,213641.428192,530000.0,178000.0,UKI11
1273,3690842,11012,1947,215500,195500,UKL14,2419,194917.76409,213641.428192,530000.0,178000.0,UKI12
1925,5296400,11018,1944,676500,217500,UKM63,2617,214917.76409,673641.428192,524000.0,176000.0,UKI11
1926,5296400,11018,1944,676500,217500,UKM63,2617,214917.76409,673641.428192,524000.0,176000.0,UKI23
2344,1589535,11012,1955,676500,227500,UKM35,2739,224917.76409,673641.428192,534000.0,180000.0,UKI11
2345,1589535,11012,1955,676500,227500,UKM35,2739,224917.76409,673641.428192,534000.0,180000.0,UKI12
2720,4232289,11004,1965,642500,223500,UKM33,2742,224917.76409,643641.428192,253000.0,667000.0,UKM34
2721,4232289,11004,1965,642500,223500,UKM33,2742,224917.76409,643641.428192,253000.0,667000.0,UKM35
2982,4240986,11018,1949,64500,225500,UKK30,2800,224917.76409,63641.428192,523000.0,178000.0,UKI11
2983,4240986,11018,1949,64500,225500,UKK30,2800,224917.76409,63641.428192,523000.0,178000.0,UKI23
4574,5650656,11004,1958,670500,249500,UKM31,2983,244917.76409,673641.428192,250000.0,669000.0,UKM31
4575,5650656,11004,1958,670500,249500,UKM31,2983,244917.76409,673641.428192,250000.0,669000.0,UKM34
4576,5650656,11004,1958,670500,249500,UKM31,2983,244917.76409,673641.428192,250000.0,669000.0,UKM35
5036,3450160,11004,1949,666500,249500,UKM35,2984,244917.76409,663641.428192,253000.0,667000.0,UKM34
5037,3450160,11004,1949,666500,249500,UKM35,2984,244917.76409,663641.428192,253000.0,667000.0,UKM35
5077,3688952,11018,1947,666500,249500,UKM35,2984,244917.76409,663641.428192,522000.0,178000.0,UKI11
5078,3688952,11018,1947,666500,249500,UKM35,2984,244917.76409,663641.428192,522000.0,178000.0,UKI23
5191,4352804,11004,1951,662500,243500,UKM35,2984,244917.76409,663641.428192,253000.0,667000.0,UKM34
5192,4352804,11004,1951,662500,243500,UKM35,2984,244917.76409,663641.428192,253000.0,667000.0,UKM35
5485,6024333,11004,1946,662500,243500,UKM35,2984,244917.76409,663641.428192,250000.0,669000.0,UKM31
5486,6024333,11004,1946,662500,243500,UKM35,2984,244917.76409,663641.428192,250000.0,669000.0,UKM34
5487,6024333,11004,1946,662500,243500,UKM35,2984,244917.76409,663641.428192,250000.0,669000.0,UKM35
6689,1732538,11018,1945,56500,247500,UKK41,3045,244917.76409,53641.428192,522000.0,178000.0,UKI11
6690,1732538,11018,1945,56500,247500,UKK41,3045,244917.76409,53641.428192,522000.0,178000.0,UKI23
6984,3398832,11011,1944,55500,245500,UKK41,3045,244917.76409,53641.428192,243000.0,57000.0,UKK30
6985,3398832,11011,1944,55500,245500,UKK41,3045,244917.76409,53641.428192,243000.0,57000.0,UKK41
10278,2022650,11018,1968,665500,259500,UKM34,3106,254917.76409,663641.428192,522000.0,178000.0,UKI11
10279,2022650,11018,1968,665500,259500,UKM34,3106,254917.76409,663641.428192,522000.0,178000.0,UKI23
...,...,...,...,...,...,...,...,...,...,...,...,...
435209,2646337,11020,1965,206500,570500,UKH33,7056,574917.76409,203641.428192,524000.0,176000.0,UKI11
435210,2646337,11020,1965,206500,570500,UKH33,7056,574917.76409,203641.428192,524000.0,176000.0,UKI23
435425,5751194,11012,1966,206500,570500,UKH33,7056,574917.76409,203641.428192,534000.0,180000.0,UKI11
435426,5751194,11012,1966,206500,570500,UKH33,7056,574917.76409,203641.428192,534000.0,180000.0,UKI12
436062,4394899,11011,1953,167500,577500,UKJ41,7060,574917.76409,163641.428192,352000.0,177000.0,UKK11
436063,4394899,11011,1953,167500,577500,UKJ41,7060,574917.76409,163641.428192,352000.0,177000.0,UKK12
436452,4107811,11018,1942,155500,576500,UKJ42,7061,574917.76409,153641.428192,524000.0,176000.0,UKI11
436453,4107811,11018,1942,155500,576500,UKJ42,7061,574917.76409,153641.428192,524000.0,176000.0,UKI23
436706,1000708,11018,1942,136500,577500,UKJ42,7063,574917.76409,133641.428192,523000.0,178000.0,UKI11
436707,1000708,11018,1942,136500,577500,UKJ42,7063,574917.76409,133641.428192,523000.0,178000.0,UKI23
436920,5759883,11018,1947,108500,573500,UKJ22,7066,574917.76409,103641.428192,524000.0,176000.0,UKI11
436921,5759883,11018,1947,108500,573500,UKJ22,7066,574917.76409,103641.428192,524000.0,176000.0,UKI23
436995,2395645,11012,1946,283500,587500,UKH13,7170,584917.76409,283641.428192,530000.0,178000.0,UKI11
436996,2395645,11012,1946,283500,587500,UKH13,7170,584917.76409,283641.428192,530000.0,178000.0,UKI12
437566,1472643,11012,1956,185500,586500,UKH31,7180,584917.76409,183641.428192,530000.0,178000.0,UKI11
437567,1472643,11012,1956,185500,586500,UKH31,7180,584917.76409,183641.428192,530000.0,178000.0,UKI12
438842,5394657,11021,1966,169500,596500,UKJ42,7303,594917.76409,173641.428192,540000.0,180000.0,UKI12
438843,5394657,11021,1966,169500,596500,UKJ42,7303,594917.76409,173641.428192,540000.0,180000.0,UKI21
439551,1128278,11018,1947,244500,616500,UKH14,7540,614917.76409,243641.428192,524000.0,176000.0,UKI11
439552,1128278,11018,1947,244500,616500,UKH14,7540,614917.76409,243641.428192,524000.0,176000.0,UKI23
440115,5666223,11012,1946,167500,617500,UKJ42,7548,614917.76409,163641.428192,534000.0,180000.0,UKI11
440116,5666223,11012,1946,167500,617500,UKJ42,7548,614917.76409,163641.428192,534000.0,180000.0,UKI12
440572,2273664,11018,1947,308500,623500,UKH13,7656,624917.76409,303641.428192,522000.0,178000.0,UKI11
440573,2273664,11018,1947,308500,623500,UKH13,7656,624917.76409,303641.428192,522000.0,178000.0,UKI23
440879,5330137,11012,1940,308500,623500,UKH13,7656,624917.76409,303641.428192,530000.0,178000.0,UKI11
440880,5330137,11012,1940,308500,623500,UKH13,7656,624917.76409,303641.428192,530000.0,178000.0,UKI12
441075,5105003,11012,1952,231500,625500,UKH33,7663,624917.76409,233641.428192,534000.0,180000.0,UKI11
441076,5105003,11012,1952,231500,625500,UKH33,7663,624917.76409,233641.428192,534000.0,180000.0,UKI12
441856,4739402,11018,1944,152500,637500,UKJ42,7793,634917.76409,153641.428192,522000.0,178000.0,UKI11
441857,4739402,11018,1944,152500,637500,UKJ42,7793,634917.76409,153641.428192,522000.0,178000.0,UKI23

In [30]:
# save new version of eid_data
got_them_all.to_csv('eid_data.csv',index=False)

Now, off to get the grid IDs for POR.