In [1]:
import pandas as pd
import numpy as np

In [3]:
pob_por_ac = pd.read_csv('../00_csv_files/pob_por_ac_distances.csv')
pob_por_ac.head(3)

,eid,center,distances,POB_east,POB_north,POR_east,POR_north,POB_distance,POR_distance,closest_center_POR,POR_distance_closest,POB_distance_closest,closest_center_POB
0,1136349,11004,229901.065678,68500,801500,252000.0,663000.0,234227.018930,7490.487100,11004.0,7490.487100,234227.018930,11004
1,1071275,11004,196729.509734,66500,798500,211000.0,665000.0,234138.707601,48107.415198,11004.0,48107.415198,234138.707601,11004
2,4778319,11005,287336.910264,66500,798500,323000.0,669000.0,287623.081466,5681.636384,11005.0,5681.636384,234138.707601,11004

In [13]:
movers = pob_por_ac[pob_por_ac.distances > 20000].eid.tolist()
stayers = pob_por_ac[pob_por_ac.distances <= 20000].eid.tolist()
print(len(movers))
print(len(stayers))
print(movers[:5])
print(stayers[:5])

195248
246688
[1136349, 1071275, 4778319, 2797312, 3735126]
[5283232, 2600729, 5540005, 3985181, 4446120]

In [26]:
pheno_bmi = pd.read_csv('../pheno/pheno_bmi_plink2.csv',delimiter = ' ')
pheno_bmi.head(3)

       eid     eid2      bmi
0  4194304  4194304  28.9209
1  1048584  1048584  26.9353
2  5242889  5242889  27.7698

In [28]:
mover_bmi =  pheno_bmi[pheno_bmi.eid.isin(movers)]
stayer_bmi = pheno_bmi[pheno_bmi.eid.isin(stayers)]

In [29]:
mover_mean = np.mean(mover_bmi.bmi.values)
mover_std = np.std(mover_bmi.bmi.values)
print('movers')
print('mean ', mover_mean)
print('std  ', mover_std)

stayer_mean = np.mean(stayer_bmi.bmi.values)
stayer_std = np.std(stayer_bmi.bmi.values)
print('\nstayers')
print('mean ', stayer_mean)
print('std  ', stayer_std)

movers
mean  26.981280870905284
std   4.620985842729849

stayers
mean  27.78355774123154
std   4.847954665603271

In [30]:
mover_bmi_vals = mover_bmi.bmi.values
norm_mover_bmi = (mover_bmi_vals - np.mean(mover_bmi_vals)) / np.std(mover_bmi_vals)
print(np.mean(norm_mover_bmi))
print(np.var(norm_mover_bmi))
print(len(norm_mover_bmi))

stayer_bmi_vals = stayer_bmi.bmi.values
norm_stayer_bmi = (stayer_bmi_vals - np.mean(stayer_bmi_vals)) / np.std(stayer_bmi_vals)
print(np.mean(norm_stayer_bmi))
print(np.var(norm_stayer_bmi))
print(len(norm_stayer_bmi))

print(len(norm_mover_bmi) + len(norm_stayer_bmi))
print(len(bmi))

-1.4356667544631836e-16
1.0
151842
2.904289805491466e-16
1.0
176884
328726
328726

In [31]:
norm_mover_bmi_dict = dict(zip(mover_bmi.eid,norm_mover_bmi))
print(norm_mover_bmi_dict[4778319])
print(len(norm_mover_bmi_dict))
mover_bmi[mover_bmi.eid==4778319]

-2.003442811985805
151842

            eid     eid2      bmi
191020  4778319  4778319  17.7234

In [32]:
norm_stayer_bmi_dict = dict(zip(stayer_bmi.eid,norm_stayer_bmi))
print(norm_stayer_bmi_dict[2600729])
print(len(norm_stayer_bmi_dict))
stayer_bmi[stayer_bmi.eid==2600729]

-0.08231466025515793
176884

            eid     eid2      bmi
164714  2600729  2600729  27.3845

In [33]:
with open('../pheno/pheno_normalized_bmi.csv','w') as o:
    for eid in norm_mover_bmi_dict.keys():
        o.write(str(eid) + ' ' + str(eid) + ' ' + str(norm_mover_bmi_dict[eid]) + '\n')
    for eid in norm_stayer_bmi_dict.keys():
        o.write(str(eid) + ' ' + str(eid) + ' ' + str(norm_stayer_bmi_dict[eid]) + '\n')
o.close()

# height

In [2]:
height = pd.read_csv('../pheno/pheno_height_plink2.csv',delimiter = ' ')
height.head(3)

       eid     eid2     cm
0  4194304  4194304  162.0
1  1048584  1048584  188.0
2  5242889  5242889  177.0

In [6]:
mover_height =  height[height.eid.isin(movers)]
stayer_height = height[height.eid.isin(stayers)]

In [7]:
mover_mean = np.mean(mover_height.cm.values)
mover_std = np.std(mover_height.cm.values)
print('movers')
print('mean ', mover_mean)
print('std  ', mover_std)

stayer_mean = np.mean(stayer_height.cm.values)
stayer_std = np.std(stayer_height.cm.values)
print('\nstayers')
print('mean ', stayer_mean)
print('std  ', stayer_std)

movers
mean  169.58515160288465
std   9.22496826198131

stayers
mean  168.1824674041323
std   9.229100799371405

In [9]:
mover_cm = mover_height.cm.values
norm_mover_cm = (mover_cm - np.mean(mover_cm)) / np.std(mover_cm)
print(np.mean(norm_mover_cm))
print(np.var(norm_mover_cm))
print(len(norm_mover_cm))

stayer_cm = stayer_height.cm.values
norm_stayer_cm = (stayer_cm - np.mean(stayer_cm)) / np.std(stayer_cm)
print(np.mean(norm_stayer_cm))
print(np.var(norm_stayer_cm))
print(len(norm_stayer_cm))

print(len(norm_mover_cm) + len(norm_stayer_cm))
print(len(height))

1.6847197544598785e-15
1.0000000000000002
151976
-4.771978580611742e-16
1.0
177093
329069
329069

In [19]:
norm_mover_cm_dict = dict(zip(mover_height.eid,norm_mover_cm))
print(norm_mover_cm_dict[4778319])
print(len(norm_mover_cm_dict))
mover_height[mover_height.eid==4778319]

0.6953789124188909
151976

            eid     eid2     cm
191213  4778319  4778319  176.0

In [18]:
norm_stayer_cm_dict = dict(zip(stayer_height.eid,norm_stayer_cm))
print(norm_stayer_cm_dict[5283232])
print(len(norm_stayer_cm_dict))
stayer_height[stayer_height.eid==5283232]

-0.4531825467132361
177093

           eid     eid2     cm
13164  5283232  5283232  164.0

In [20]:
with open('../pheno/pheno_normalized_height.csv','w') as o:
    for eid in norm_mover_cm_dict.keys():
        o.write(str(eid) + ' ' + str(eid) + ' ' + str(norm_mover_cm_dict[eid]) + '\n')
    for eid in norm_stayer_cm_dict.keys():
        o.write(str(eid) + ' ' + str(eid) + ' ' + str(norm_stayer_cm_dict[eid]) + '\n')
o.close()

# eduyears

In [ ]:
eduYears = pd.read_csv('../pheno/pheno_eduYears.csv',delimiter = ' ')
eduYears.head(3)

In [ ]:
mover_eduyears = eduYears[eduYears.eid1.isin(movers)]
stayer_eduyears = eduYears[eduYears.eid1.isin(stayers)]

In [ ]:
mover_mean = np.mean(mover_eduyears.y.values)
mover_std = np.std(mover_eduyears.y.values)
print('movers')
print('mean ', mover_mean)
print('std  ', mover_std)

stayer_mean = np.mean(stayer_eduyears.y.values)
stayer_std = np.std(stayer_eduyears.y.values)
print('\nstayers')
print('mean ', stayer_mean)
print('std  ', stayer_std)

In [ ]:
mover_y = mover_eduyears.y.values
norm_mover_y = (mover_y - np.mean(mover_y)) / np.std(mover_y)
print(np.mean(norm_mover_y))
print(np.var(norm_mover_y))
print(len(norm_mover_y))

stayer_y = stayer_eduyears.y.values
norm_stayer_y = (stayer_y - np.mean(stayer_y)) / np.std(stayer_y)
print(np.mean(norm_stayer_y))
print(np.var(norm_stayer_y))
print(len(norm_stayer_y))

print(len(norm_mover_y) + len(norm_stayer_y))
print(len(eduYears))

In [ ]:
norm_mover_y_dict = dict(zip(mover_eduyears.eid1,norm_mover_y))
print(norm_mover_y_dict[1136349])
mover_eduyears[mover_eduyears.eid1==1136349]

In [ ]:
norm_stayer_y_dict = dict(zip(stayer_eduyears.eid1,norm_stayer_y))
print(norm_stayer_y_dict[2600729])
stayer_eduyears[stayer_eduyears.eid1==2600729]

In [ ]:
with open('../pheno/pheno_normalized_eduyears.csv','w') as o:
    for eid in norm_mover_y_dict.keys():
        o.write(str(eid) + ' ' + str(eid) + ' ' + str(norm_mover_y_dict[eid]) + '\n')
    for eid in norm_stayer_y_dict.keys():
        o.write(str(eid) + ' ' + str(eid) + ' ' + str(norm_stayer_y_dict[eid]) + '\n')
o.close()