In [1]:
import pandas as pd
import numpy as np

In [12]:
newPhenosEids = pd.read_csv('../pheno/pheno_eids_190607.csv').eid.tolist()
print(len(newPhenosEids))
newPhenosEids[:10]

502531

[4865591,
 3706515,
 4925122,
 2075954,
 3699099,
 1389532,
 2605985,
 3820558,
 3162271,
 1374011]

In [15]:
sqcEids =  pd.read_csv('../pheno/ukb_sqc_eids_190607.csv').eid.tolist()
print(len(sqcEids))
sqcEids[:10]

488377

[2032476,
 2868665,
 5580157,
 5184402,
 1114375,
 1334561,
 5551233,
 2911257,
 3261612,
 5352063]

In [16]:
oldPhenosEids = pd.read_csv('../pheno/pheno_eids_old.csv').eid.tolist()
print(len(oldPhenosEids))
oldPhenosEids[:10]

502641

[1000015,
 1000027,
 1000039,
 1000040,
 1000053,
 1000064,
 1000071,
 1000088,
 1000096,
 1000109]

In [17]:
print(len(set(newPhenosEids) & set(sqcEids)))

132748

In [18]:
print(len(set(newPhenosEids) & set(oldPhenosEids)))

502531

In [19]:
eid_data = pd.read_csv('../00_csv_files/eid_data.csv')
eid_data.head(2)

,eid,center,DOB,POB_north,POB_east,POB_NUTSID,POB_gridID,POR_east,POR_north,POR_NUTSID,POR_gridID
0,1136349,11004,1947,801500,68500,UKM64,774,252000.0,663000.0,UKM34,3106
1,1071275,11004,1952,798500,66500,UKM64,775,211000.0,665000.0,UKM63,2618

In [20]:
eids = eid_data.eid.tolist()
eids[:10]

[1136349,
 1071275,
 4778319,
 2797312,
 3735126,
 4450199,
 4509570,
 4900458,
 5471572,
 5650473]

In [21]:
print(len(set(newPhenosEids) & set(eids)))

441934